body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}
#header {
  background: url("ic_launcher.png");
  background-size: 80px 60px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 400px;
  background-origin: content-box;
  height: 80px;
  background-color: #b1cbe2;
  text-align: center;
}
#title {
  position: absolute;
  top: 36px;
  left: 500px;
  font-size: 26px;
  font-family: "Helvetica";
  color: #167ec2;
}
#header-border {
  height: 1px;
  background-color: #b1cbe2;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #b1cbe2;
  float: center;
  text-align: center;
}
#footer-border {
  margin-top: 0px;
  height: 1px;
  background-color: #b1cbe2;
}
#footer-text {
  position: absolute;
  bottom: 30px;
  left: 515px;
  font-size: 16px;
  font-family: "Helvetica";
  color: #167ec2;
}
#loggedIn {
  position: absolute;
  top: 30px;
  right: 140px;
  font-size: 12px;
  font-family: "Helvetica";
  color: #167ec2;
}
#listTitle {
  position: absolute;
  top: 24%;
  left: 25%;
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica";
  color: #167ec2;
}
listItem {
  background: url("arrow.png");
  background-size: 80px 60px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #d8ecff;
  border-bottom-right-radius: 60px;
}
listItem labelImg {
  background: url("avatar.png");
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
listItem labelPatient {
  margin-left: 50px;
  margin-right: 150px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Helvetica";
  color: #167ec2;
}
listItem labelId {
  margin-left: 50px;
  font-size: 14px;
  font-family: "Helvetica";
  color: #167ec2;
}
#patientContainer {
  width: 380px;
  margin-top: 30px;
  margin-left: 30%;
}
#patientContainer #labelImg {
  background-image: url("avatar.png");
  background-size: 180px 150px;
  background-repeat: no-repeat;
  background-position: center;
  width: 180px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
}
#patientContainer #labelPatient {
  font-size: 22px;
  font-weight: bold;
  font-family: "Helvetica";
  color: #167ec2;
  margin-left: 45%;
  margin-top: -30%;
}
#patientContainer #labelId {
  font-size: 16px;
  font-family: "Helvetica";
  color: #167ec2;
  margin-left: 45%;
  margin-top: 1%;
}
#patientContainer #labelAddress {
  font-size: 16px;
  font-family: "Helvetica";
  color: #167ec2;
  margin-left: 45%;
  margin-top: 3%;
}
#patientContainer #inputAddress {
  width: 50%;
  margin-left: 20%;
}
#patientContainer #labelBirthday {
  font-size: 16px;
  font-family: "Helvetica";
  color: #167ec2;
  margin-left: 45%;
}
#patientContainer #inputDate {
  width: 50%;
  margin-left: 10%;
}
#patientContainer #labelPlans {
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica";
  color: #167ec2;
  margin-top: 6%;
}
#patientContainer #btn-new-plan {
  width: 120px;
  height: 30px;
  margin-left: 33%;
}
#patientContainer #btn-sync {
  width: 100%;
  height: 30px;
  background-color: #0dff65;
  border-color: #0dff65;
  color: #fff;
  border-radius: 5px;
  margin-top: 4%;
}
#scrollList {
  margin-top: 8px auto;
  height: 130px;
  width: 100%;
  overflow: auto;
}
planItem {
  margin-top: 1%;
  width: 100%;
  height: 60px;
  background: url("arrow.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #b1cbe2;
  border-radius: 10px;
}
planItem planImg {
  background-image: url("drugme.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}
planItem planLabel {
  margin-left: 70px;
  padding-top: 40%;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica";
  color: #167ec2;
}
planItem:hover {
  background: url("arrow.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #12cbef;
}
listItem:hover {
  background-color: #12cbef;
}
#btn-delete {
  width: 30px;
  height: 30px;
  margin-left: -10px;
  margin-top: -10px;
}
#delete-label {
  margin-top: -4px;
  margin-left: -3px;
}
#medicationContainer {
  width: 380px;
  margin: 30px auto;
}
#medicationContainer #labelName {
  margin-left: 15px;
}
#medicationContainer #name {
  margin-top: -8%;
  margin-left: 26%;
  width: 190px;
}
#medicationContainer #planname {
  text-align: center;
}
#medicationContainer #btn-create {
  width: 100%;
}
#medicationContainer #inputForm {
  width: 200px;
  margin-top: -14%;
  margin-left: 30%;
}
#medicationContainer #inputMedication {
  margin-top: -13%;
  margin-left: 30%;
  width: 200px;
}
#medicationContainer #frequencyLabel {
  margin-left: 15px;
  margin-top: 0px;
}
#medicationContainer #labelMedication {
  margin-left: 15px;
  margin-top: 16px;
}
#medicationContainer #labelForm {
  margin-left: 15px;
  margin-top: 0px;
}
#medicationContainer #mo {
  margin-left: 32%;
  margin-top: -10%;
}
#medicationContainer #mo-check {
  margin-right: 1%;
}
#medicationContainer #tu {
  margin-left: 48%;
  margin-top: -8%;
}
#medicationContainer #tu-check {
  margin-right: 1%;
}
#medicationContainer #we {
  margin-left: 64%;
  margin-top: -8%;
}
#medicationContainer #we-check {
  margin-right: 1%;
}
#medicationContainer #th {
  margin-left: 80%;
  margin-top: -8%;
}
#medicationContainer #th-check {
  margin-right: 1%;
}
#medicationContainer #fr {
  margin-left: 40%;
  margin-top: 2%;
}
#medicationContainer #fr-check {
  margin-right: 1%;
}
#medicationContainer #sa {
  margin-left: 16%;
  margin-top: -12%;
}
#medicationContainer #sa-check {
  margin-right: 1%;
}
#medicationContainer #su {
  margin-left: 24%;
  margin-top: -16%;
}
#medicationContainer #su-check {
  margin-right: 1%;
}
#medicationContainer #labelInterval {
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
}
#medicationContainer #morning-check {
  margin-right: 4%;
  margin-left: 5%;
}
#medicationContainer #noon-check {
  margin-right: 4%;
  margin-left: 5%;
}
#medicationContainer #evening-check {
  margin-right: 4%;
  margin-left: 5%;
}
#medicationContainer amountLabel {
  margin-left: 8%;
}
#medicationContainer #noonAmount {
  margin-left: 14%;
}
#medicationContainer #inputMorning {
  width: 80px;
  margin-left: 72%;
  margin-top: -8%;
}
#medicationContainer #inputNoon {
  width: 80px;
  margin-left: 72%;
  margin-top: -8%;
}
#medicationContainer #inputEvening {
  width: 80px;
  margin-left: 72%;
  margin-top: -8%;
}
#medicationContainer #startDateLabel {
  margin-left: 15px;
}
#medicationContainer #endDateLabel {
  margin-left: 52%;
  margin-top: -12%;
}
#medicationContainer #endDate {
  width: 80px;
  margin-left: 24%;
  margin-top: -14%;
}
#medicationContainer #startDate {
  width: 80px;
  margin-left: 14%;
  margin-top: -7%;
}
#medicationContainer #infoLabel {
  margin-left: 15px;
}
#medicationContainer #inputIntakeInfo {
  width: 176px;
  margin-left: 30%;
  margin-top: -7%;
}
#login-container {
  width: 340px;
  margin: 60px auto;
}
#login-container label {
  margin: 15px 0 5px 5px;
}
#login-container button {
  width: 150px;
  padding: 6px 40px 6px 40px;
  float: left;
  margin-top: 15px;
}
#login-container .checkbox {
  margin: 23px 0 0 180px;
}
#login-container .btm-links {
  text-align: center;
  margin-top: 10px;
}
#login-container #create-account {
  float: center;
  margin-right: 13px;
}
#login-container #forgot-password {
  float: left;
  margin-left: 10px;
}
#account-form-container {
  width: 460px;
  margin: 25px auto;
}
#country-list {
  width: 280px;
}
.modal-form-errors li {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  color: #d8000c;
}
.modal-single-input {
  width: 452px;
  margin: -200px 0 0 -232px;
}
.modal-single-input form {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-bottom: 0;
}
.modal-single-input form button {
  width: 80px;
  top: 213px;
  position: absolute;
}
.modal-single-input form #cancel {
  right: 110px;
}
.modal-single-input form #submit {
  right: 18px;
}
.modal-single-input .modal-body {
  height: 140px;
  overflow: hidden;
  padding-bottom: 0;
}
.modal-single-input .modal-footer {
  height: 20px;
}
.modal-alert {
  width: 310px;
  margin: -200px 0 0 -150px;
}
#btn-logout {
  width: 100px;
  top: 25px;
  right: 15px;
  position: absolute;
}
#print {
  padding: 20px;
}
#four04 {
  padding: 20px;
}
.clear-fix {
  clear: both;
}
.well {
  margin-left: 0;
  border: 1px solid #ccc;
}
.form-horizontal .control-label {
  width: 80px;
}
.form-horizontal .controls {
  margin-left: 120px;
}
.form-horizontal .form-actions {
  padding: 17px 0 0 270px;
}
label {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
.subheading {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
  margin-top: 3px;
}
button i {
  padding-left: 8px;
}
