raiseText()
	color grey
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white

body 
	margin  0
	padding  0
	height  100%
	background-color #ffffff	

#header{
	background:url(ic_launcher.png)
	background-size 80px 60px
	background-repeat no-repeat
	background-position left
	padding-left 400px
	background-origin content-box
	height 80px
	background-color #b1cbe2
	text-align center
}

#title{
	position absolute
	top 36px
	left 500px
	font-size 26px
	font-family "Helvetica"
	color #167ec2
}

#header-border{
	height 1px
	background-color #b1cbe2
}

#footer{
	position absolute
	bottom 0
	width 100%
	height 80px
	background-color #b1cbe2
	float center
	text-align center
}

#footer-border{
	margin-top 0px
	height 1px
	background-color #b1cbe2
}

#footer-text{
	position absolute
	bottom 30px
	left 515px
	font-size 16px
	font-family "Helvetica"
	color #167ec2
}

#loggedIn{
	position absolute
	top 30px
	right 140px
	font-size 12px
	font-family "Helvetica"
	color #167ec2
}

#listTitle{
	position absolute
	top 24%
	left 25%
	font-size 16px
	font-weight bold
	font-family "Helvetica"
	color #167ec2
}

listItem{
	position absolute
	background:url(arrow.png)
	background-size 80px 60px
	background-repeat no-repeat
	background-position right
	top 28%
	left 25%
	width 50%
	height 14%
	background-color #D8ECFF
	border-bottom-right-radius 60px
	
	labelImg{
		position absolute
		background:url(avatar.png)
		background-size 80px 80px
		background-repeat no-repeat
		background-position center
		top 5px
		left 5px
		width 80px
		height 80px
		background-color #ffffff
	}
	
	labelPatient{
		position absolute
		top 30%
		left 15%
		font-size 18px
		font-weight bold
		font-family "Helvetica"
		color #167ec2
	}
	
	labelId{
		position absolute
		top 50%
		left 15%
		font-size 14px
		font-family "Helvetica"
		color #167ec2
	}
}

patientContainer{
	position absolute
	top 20%
	left 30%
	width 40%
	height 60%
	background-color #D8ECFF
	border-radius 30px
	
	labelImg{
		position absolute
		background:url(avatar.png)
		background-size 180px 150px
		background-repeat no-repeat
		background-position center
		top 20px
		left 5%
		width 180px
		height 150px
		background-color #ffffff
		border-radius 10px
	}
	
	labelPatient{
		position absolute
		top 6%
		left 42%
		font-size 22px
		font-weight bold
		font-family "Helvetica"
		color #167ec2
	}
	
	labelId{
		position absolute
		top 12%
		left 42%
		font-size 16px
		font-family "Helvetica"
		color #167ec2
	}
	
	labelAddress{
		position absolute
		top 22%
		left 42%
		font-size 16px
		font-family "Helvetica"
		color #167ec2
	}
	
	#inputAddress{
		position absolute
		top 21%
		left 64%
		width 30%
	}
	
	labelBirthday{
		position absolute
		top 32%
		left 42%
		font-size 16px
		font-family "Helvetica"
		color #167ec2
	}
	
	#inputDate{
		position absolute
		top 31%
		left 64%
		width 30%
	}
	
	labelPlans{
		position absolute
		top 50%
		left 5%
		font-size 16px
		font-weight bold
		font-family "Helvetica"
		color #167ec2
	}
	
	#btn-new-plan{
		width 120px
		height 30px
		top 48%
		right 5%
		position absolute
	}
	
	#btn-confirm{
		width 90%
		height 30px
		top 90%
		right 5%
		position absolute
		background-color #0DFF65
		border-color #0DFF65
		color #ffffff
		border-radius 5px
	}
}

listItem:hover{
	background-color #12CBEF
}

// login form //
#medicationContainer{
	width 380px
	margin 30px auto
	
	#planname{
		text-align center
	}
	
	#btn-create{
		width  100%
	}
	
	#inputForm{
		position absolute
		top 210px
		left 600px
		width  190px
	}
	
	#inputMedication{
		position absolute
		top 178px
		left 600px
		width  190px
	}
	
	#frequencyLabel{
		margin 15px 0 0px 5px
	}
	
	label{
		margin 15px 0 5px 5px
	}
	
	#mo{
		position absolute
		top 40%
		left 37.8%
	}
	
	#mo-check{
		position absolute
		top 0%
		left 37.8%
	}
	
	#tu{
		position absolute
		top 40%
		left 41.1%
	}
	
	#tu-check{
		position absolute
		top 0%
		left 41.1%
	}
	
	#we{
		position absolute
		top 40%
		left 44%
	}
	
	#we-check{
		position absolute
		top 0%
		left 44%
	}
	
	#th{
		position absolute
		top 40%
		left 47.3%
	}
	
	#th-check{
		position absolute
		top 0%
		left 47.3%
	}
	
	#fr{
		position absolute
		top 40%
		left 50.6%
	}
	
	#fr-check{
		position absolute
		top 0%
		left 50.6%
	}
	
	#sa{
		position absolute
		top 40%
		left 53.7%
	}
	
	#sa-check{
		position absolute
		top 0%
		left 53.7%
	}
	
	#su{
		position absolute
		top 40%
		left 56.8%
	}
	
	#su-check{
		position absolute
		top 0%
		left 57.7%
	}
	
	#separator{
		margin 40px 0px 20px 0px
	}
}

// login form //
#login-container{
	width 340px
	margin 60px auto

	label{
		margin 15px 0 5px 5px
	}
	button{
		width 150px
		padding 6px 40px 6px 40px
		float left
		margin-top 15px
	}
	.checkbox{
		margin 23px 0 0 180px
	}
	.btm-links{
		text-align center
		margin-top 10px
	}
	#create-account{
		float:center
		margin-right:13px
	}	
	#forgot-password{
		float:left
		margin-left:10px
	}
}

// account form on signup & home page //
#account-form-container
	width 460px
	margin 25px auto
#country-list
	width 280px
.modal-form-errors li
	raiseText()
	color #D8000C

// retrieve password window //

.modal-single-input{
	width 452px	
	margin -200px 0 0 -232px
	form{
		raiseText()
		margin-bottom 0		
 		button{
			width 80px
			top 213px
			position absolute
		}
		#cancel{
			right 110px
		}
		#submit{
			right 18px
		}
	}
	.modal-body{
		height 140px
		overflow hidden	
		padding-bottom 0
	}	
	.modal-footer{
		height 20px
	}	
}

.modal-alert{
	width 310px
	margin -200px 0 0 -150px
}
    
// logged-in page //    
    
#btn-logout
	width 100px
	top 25px
	right 15px
	position absolute
	
// support pages //

#print
	padding 20px
#four04
	padding:20px	
    
// general shared rules //
.clear-fix
	clear both
.well
	margin-left 0
	border 1px solid #CCC
.form-horizontal .control-label
	width 80px
.form-horizontal .controls
	margin-left 120px
.form-horizontal .form-actions
	padding 17px 0 0 270px
label
	raiseText()	
.subheading
	raiseText()
	margin-top 3px
button i
	padding-left 8px	